
.Navbar {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.Navigation li{
    display: inline-block;
    text-align: center;
    list-style-type: none;
    padding: 10px 25px;
    margin-left: 10px;
    font-size: 1.5rem;
}

.NavbarActiveItem {
    border-bottom: 2px solid aquamarine;
    font-weight: bolder;
}

.Navigation li a {
    text-decoration: none;
    color: inherit;
}