.CreateForm {
  width: 50%;
  height: auto;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
}

.FormTitle {
  font-size: 1.5rem;
  margin: 20px;
}
.CreateForm form {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.CreateForm form input,
.CreateForm form select {
  width: 100%;
  padding: 5px 0px;
  margin: 10px 0px;
  outline: none;
  border: 1px solid #ccc;
}

.SubmitButton {
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: bolder;
  background-color: aquamarine;
  outline: none;
  border: none;
}
.SubmitButton:active {
  background-color: mediumaquamarine;
}
